 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" style='width: 100%;margin-left: 15px; padding-right: 30px;'>
                 <font size="6">
             <!--      <img src="/img/portfolio/cake.png" alt="Mountain View" style="width:304px;height:228px;">
 
                </div>
                <div class="col-lg-4" >-->
                    Hello there!!!You can call me PK . How are you doing?<br/><br/>
                    I am pursuing B.Tech (Computer Science Engineering). I am passionate about decentralisation and it's applications.I also have experience with various data transformation, ingestion tools like hive, sqoop, pig, flume and my core expertise is in Hadoop's MapReduce programming model and HDFS storage architecture . React.js , Angular.js, are the frameworks I know and use to build websites. Currently I am learning Kotlin to build android apps.<br/><br/> 
                    Playing football is my hobby and Sherlock Holmes is the book series I read. Always in search of chocolate and humor.
                 </font>
                  </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/18IW8dwpNWHA5YDHq3E0MG_1W-oGOC6iw/view?usp=sharing"  target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
