{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}


<h2>Change your password here</h2>

<div>
<div class="row"  style="margin-left: 30%">
<div class ="col-6" style="width:90%;">
<form method="post"  style="float: left; background-color: #f2f2f2; padding: 25px; border-radius: 25px;
   border-radius: 25px; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
  {% csrf_token %}
        <div class="form-group" style="float: left" >
		<label for="id_old_password">Old password:</label>
		<input type="password" style="margin-left: 8px;" name="old_password" autofocus="" required="" id="id_old_password">
        </div>
        <br/> <br/>
        <div class="form-group" style="float: left; width: 100%; text-align: left;" >
		    <label for="id_new_password1">New password:</label>
		    <input type="password" name="new_password1" required="" id="id_new_password1"> <span class="helptext"></span>
        </div>
        <br/><br/><br/>
        <div style="float: center">
    <ul>
		<li style="text-align: left">Your password can't be too similar to your other personal information.</li>
		<li style="float: left">Your password must contain at least 8 characters.</li><br/>
		<li style="float: left">Your password can't be a commonly used password.</li><br/>
		<li style="float: left">Your password can't be entirely numeric.</li>
	</ul>
    </div><br/><br/>
    <div style="float: left">
		<label for="id_new_password2">New password confirmation:</label>
		<input type="password" name="new_password2" required="" id="id_new_password2">
    </div><br/><br/>
	<button type="submit" style="margin: 2%">Change pa$$word</button>
</form>
</div>
</div>
</div>

{% endblock %}